PORT=3000
DATABASE_URL="postgresql://neondb_owner:npg_Urm3Lj9XhFwJ@ep-misty-snow-az2pacqb-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="c8e92f1b4a6d7e0f3c5b8a1d9e2f4a7b6c8d0e2f4a6b8c0d2e4f6a8b0c2d4e6f"
JWT_REFRESH_SECRET="f6e4d2c0b8a6f4e2d0c8b6a4f2e0d8c6b4a2f0e8d6c4b2a0f8e6d4c2b0a8f6e4"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
